.container{
    overflow: hidden;
}

@media print {
    body *{
        visibility: hidden !important;
    }
    .table,.table *{
        visibility: visible !important;
    }
    .h1,.h1 *{
        visibility: visible !important;
    }
    /* .tablediv{
        position: relative !important;
    } */
    .table{
        position: absolute !important;
        top: 0 !important;
        left:0 !important;
    }
    /* .h1{
        position: absolute !important;
        bottom:50 !important;
        left:0 !important;
    } */
}
.tablediv{
    margin-right:50px;
    margin-left: 50px;
}



